<p id="notice"><%= notice %></p>

<header>
<nav>
  <b>Activity:</b>
  <%= @source.activity %>
</br>
  <b>Obtained:</b>
  <% if @source.obtained == true %>
    <%= image_tag("tick.png") %>
  <% else %>
  	<%= image_tag("cross.png")%>
  <% end %>
</nav>
</header>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %><hr />
<p>
  <b>Reference:</b>
  <%= @source.reference %>
</p>

<hr>

<b>Album(s):</b></br>
<table id="AlbumTable">
	<% @albums.each do |each| %>
	<tr>
		<td><%= link_to each.name, album_path(each) %></td>
		<% if each.albumobtained == true%>
			<td><%= image_tag("tick.png") %></td>
		<% else %>
			<td><%= image_tag("cross.png")%></td>
		<% end %>
	</tr>
	<% end %>
</table><hr>
		
<%= link_to_function 'Add an Album?', '$("#new_album").toggle();' %><br/>
<% @albumformdisplay = "none" %>
<%= render :partial => 'albums/form'%>

<hr>

<%= link_to "Delete Source?", @source, :method => :delete, :confirm => "You sure?" %>
