<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %><hr />
<p>
  <b>Reference:</b>
  <%= @source.reference %>
</p>
<p>
  <b>Activity:</b>
  <%= @source.activity %>
</p>

<p>
  <b>Obtained:</b>
  <%= @source.obtained %>
</p>

<b>Album(s):</b></br>
<% @albums.each do |each| %>
	<%= link_to each.name, album_path(each) %> </br>
<% end %><hr>
		

<%= link_to "Delete Source?", @source, :method => :delete, :confirm => "You sure?" %>
