<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Activity:</b>
  <%= @source.activity %>
</p>

<p>
  <b>Obtained:</b>
  <%= @source.obtained %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
