<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>Activity:</b>
  <%= @artist.activity %>
</p>

<p>
  <b>Obtained:</b>
  <%= @artist.obtained %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
