<% if @albumformdisplay.nil?
	@albumformdisplay = "true"
end
%>
<%= form_for(@album, :html => {:style => "display: " + @albumformdisplay}, :id=>"AddAlbumForm") do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :catalognumber, "Catalog Number"%><br />
    <%= f.text_field :catalognumber %>
  </div>
  <div class="field">
    <%= f.label :releasedate, "Release Date" %><br />
    <%= f.date_select :releasedate, :start_year => 1970 %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
  	<%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <% if @title == "edit" %>
    Artist(s) (uncheck to remove):	
  	<% @artists.each do |each| %>
	<div class="field">
		<%= each.name %>
		<%= hidden_field_tag each.name, 0 %>
		<%= check_box_tag each.name, 1, true  %>
	</div>
  	<% end %>
  <% end %>
  <div id="Artist">
  <%= render :partial => 'albums/add_artist_form' %>
  </div>
  <% if @title == "edit" %>  
    Source(s) (uncheck to remove):
  	<% @sources.each do |each| %>
	  <div class="field">
	    <%= each.name %>
	    <%= hidden_field_tag each.name, 0 %>
	    <%= check_box_tag each.name, 1, true %>
	  </div>
    <% end %>
  <% end %>
  <%= render :partial => 'albums/add_source_form' %>	
  <div class="field">
    <%= f.label :albumobtained, "Album Obtained" %><br />
    <%= f.check_box :albumobtained %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
