<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :releasedate %><br />
    <%= f.date_select :releasedate, :start_year => 1970 %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
  	<%= f.label :reference %>
    <%= f.text_field :reference %>
  </div>
  <%= render 'add_artist_form' %>
  <%= render 'add_source_form' %>	
  <div class="field">
    <%= f.label :albumobtained %><br />
    <%= f.check_box :albumobtained %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
