<header>
	<nav>
<% if params[:sort] != "releasedate" %>
	<%= link_to "Sort by Release date", albums_path(:sort => "releasedate") %></br>
<% end %>
<% if params[:sort] != "name" %>
	<%= link_to "Sort by Name", albums_path(:sort => "name") %></br>
<% end %>
<% if params[:sort] != "created_at" %>
	<%= link_to "Sort by Added date", albums_path(:sort => "created_at") %></br>
<% end %>
  	</nav>
</header>

<h1>All Albums (By <%= @title %>) (<%= @albums.count %>)</h1>
<% provide(:title, 'All Albums') %>

<table id="AlbumTable">
  <tr>
    <th>Name</th>
    <th>Release Date</th>
    <th>Album Obtained?</th>
    <th>Source</th>
  </tr>

<% @sorted.each do |each| %>
  <tr>
    <td><%= link_to each.name, each %></td>
    <td><%= each.releasedate %></td>
	<% if each.albumobtained == true%>
		<td><%= image_tag("tick.png") %></td>
	<% else %>
		<td><%= image_tag("cross.png")%></td>
	<% end %>
	<td><% @sources = each.sources %>
		<% @sources.each do |each| %>
				<%= link_to each.name, source_path(each) %></br>
		<% end %>
	<td>
  </tr>
<% end %>
</table></br>
