<h1>All Albums (By Name) (<%= @albums.count %>)</h1>
<% provide(:title, 'All Albums') %>

<%= link_to ("Sort by Release date", albums2_path)%>

<table>
  <tr>
    <th>Name</th>
    <th>Release Date</th>
    <th>Album obtained?</th>
  </tr>

<% @sorted.each do |each| %>
  <tr>
    <td><%= link_to each.name, each %></td>
    <td><%= each.releasedate %></td>
    <td><%= each.albumobtained %></td>
  </tr>
<% end %>
</table>

<br />