<header>
  <nav>
  	<b>Album obtained:</b>
  	<%= @album.albumobtained %>
  </nav>
</header>

<p id="notice"><%= notice %></p>
<% provide(:title, @album.name) %>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Catalog Number:</b>
  <%= @album.catalognumber %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %>

<p>
  <b>Release date:</b>
  <%= @album.releasedate %>
</p>


<p>
  <b>Genre:</b>
  <%= @album.genre %>
</p>

<p>
  <b>Publisher:</b>
  <%= @album.publisher %>
</p>

<p>
  <b>Reference:</b>
  <%= link_to @album.reference, @album.reference %>
</p>

<p>
	<b>Artist(s):</b></br>
		<% @artists.each do |each| %>
				<%= link_to each.name, artist_path(each) %></br>
		<% end %>
</p>
<p>
	<b>Source(s):</b></br>
		<% @sources.each do |each| %>
				<%= link_to each.name, source_path(each) %></br>
		<% end %>
</p><hr>

<%= link_to "Delete Album?", @album, :method => :delete, :confirm => "You sure?"%>
